
.nav {
    background-color: #0c6461;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  h1 {
    font-size: 6vh;
    background-color: #0c6461;
  }

  h2{
    font-size: 4vh;
    background-color: #0c6461;
  }

  @media (max-width: 1500px) {
    .nav {
      display: flex;
      flex-direction: column;
    }
    h1{
      line-height: 1
    }
  }

.nav-about {
 color: black;
 background-color: #0c6461;
}

.nav-portfolio {
  color: black;
  background-color: #0c6461;
}

.nav-resume {
  color: black;
  background-color: #0c6461;
}

.nav-contact {
  color: black;
  background-color: #0c6461;
}

  .nav-active-button {
    color: white;
    background-color: #0c6461;
  }

  a {
    background-color: #0c6461;
    text-decoration: none;
  }

  #nav-name {
    color: #9ceaef;
    text-shadow: 1px 0 10px #0b0025;
  }

  