.resume-body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin: space-between;  
}

.resume-title {
    background-color: #3dccc7;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.prof-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem; 
    margin-bottom: 30px; 
}

.proficiencies {
    background-color: #3dccc7;
    text-decoration: underline;
    font-size: 25px;
}

li {
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
}

.resume-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    
}

#resume-pdf {
    border: solid black 2px;
    border-radius: 6px;
    width: 35vw;
    height: auto;
    min-width: 300px;
    
}

.download {
    width: 35vw;
    margin-bottom: 5px;
}

@media(max-width: 800px) {
    .resume-body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        margin: space-between;  
    }
    .prof-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .download{
        margin-left: auto;
        margin-right: auto;
    }
}