.footer {
    background-color: #9ceaef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-top: auto;
}

.a-link {
    background-color: #9ceaef;
    text-decoration: none;
    font-weight: bold;
}

.contact {
    background-color: #9ceaef;
    font-weight: bold;
}