.nav {
    background-color: #22577A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }