.nav {
    background-color: #22577A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  h1 {
    font-size: 6vh;
    background-color: #22577A;
  }
  h2{
    font-size: 4vh;
    background-color: #22577A;
  }

  @media (max-width: 490px) {
    .nav {
      display: flex;
      flex-direction: column;
    }
    h1{
      line-height: 0
    }
  }