.nav {
    background-color: #22577A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  h1 {
    font-size: 6vh;
    background-color: #22577A;
  }
  h2{
    font-size: 4vh;
    background-color: #22577A;
  }

  @media (max-width: 490px) {
    .nav {
      display: flex;
      flex-direction: column;
    }
    h1{
      line-height: 0
    }
  }

.nav-about {
 color: black;
 background-color: #22577a;
}

.nav-portfolio {
  color: black;
  background-color: #22577a;
}

.nav-resume {
  color: black;
  background-color: #22577a;
}

.nav-contact {
  color: black;
  background-color: #22577a;
}

  .nav-active-button {
    color: white;
    background-color: #22577a;
  }

  a {
    background-color: #22577a;
    text-decoration: none;
  }